<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Informations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Book Informations</h1>
    <table>
        <tr>
            <td>Set title: </td>
            <td><input type="text" th:field="${book.title}"></td>
        </tr>
        <tr>
            <td>Set author: </td>
            <td><input type="text" th:field="${book.author}"></td>
        </tr>
        <tr>
            <td>Set publication year: </td>
            <td><input type="text" th:field="${book.publicationYear}"></td>
        </tr>
        <tr>
            <td>Set ISBN: </td>
            <td><input type="text" th:field="${book.isbn}"></td>
        </tr>
        <tr>
            <td>Set price: </td>
            <td><input type="text" th:field="${book.price}"></td>
        </tr>
    </table>
    <button>Submit</button>
</body>

</html>